<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Test Mail</h1>
    <small>
      From AWS C9.
    </small>
    <p>
      This is a test.
    </p>
  </body>
</html>
