<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Wiki Categories</p>
    <ul>
      <li>Titanium</li>
      <li>Vanadium</li>
      <li>Chromium</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
