// Place all the styles related to the collaborators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coll-th-td {
    padding-left: 10px;
    padding-right: 10px;
}

.other-users {
    position: relative;
    left: 20px;
}

.field_width {
    max-width: 600px;
}
