.form-submit {
  font-size: 30px;
}

.form-submit:hover {
  color: blue;
}

h2 > a:hover {
  text-decoration: none;
  // below properties match form submit non-hover button properties
  margin: 1px;
  padding: 9px;
  background-color: rgb(225,225,225);
  border: 1px solid rgb(173,173,173);
}

.cancel-acct-link {
  color: salmon;
}

.cancel-acct-link:hover {
  color: red;
}

.abort-edit-link {
  color: rgb(255,190,96); // between gold and orange and with some blue
}

.abort-edit-link:hover {
  color: rgb(255,128,0); // an MS Paint orange
}
